In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\BASHA\Desktop\machine learning\titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [2]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [3]:
target = df.Survived
inputs = df.drop('Survived',axis='columns')

In [9]:
dummies = pd.get_dummies(inputs.Sex)
dummies_int = dummies.astype(int)
dummies_int.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [11]:
inputs = pd.concat([inputs,dummies_int],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [12]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [13]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [14]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [15]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(10)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1
6       1  54.000000  51.8625       0     1
7       3   2.000000  21.0750       0     1
8       3  27.000000  11.1333       1     0
9       2  14.000000  30.0708       1     0

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [17]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [18]:
model.fit(X_train, y_train)

GaussianNB()

In [19]:
model.score(X_test,y_test)

0.776536312849162

In [20]:
X_test[:10]

     Pclass        Age      Fare  female  male
670       2  40.000000   39.0000       1     0
828       3  29.699118    7.7500       0     1
398       2  23.000000   10.5000       0     1
280       3  65.000000    7.7500       0     1
516       2  34.000000   10.5000       1     0
359       3  29.699118    7.8792       1     0
777       3   5.000000   12.4750       1     0
679       1  36.000000  512.3292       0     1
864       2  24.000000   13.0000       0     1
238       2  19.000000   10.5000       0     1

In [21]:
y_test[:10]

670    1
828    1
398    0
280    0
516    1
359    1
777    1
679    1
864    0
238    0
Name: Survived, dtype: int64

In [22]:
model.predict(X_test[:10])

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0], dtype=int64)

In [24]:
model.predict_proba(X_test[:10])

array([[1.31624627e-02, 9.86837537e-01],
       [9.89780029e-01, 1.02199708e-02],
       [9.74718332e-01, 2.52816683e-02],
       [9.85863762e-01, 1.41362377e-02],
       [1.64174535e-02, 9.83582546e-01],
       [3.53661814e-02, 9.64633819e-01],
       [1.95872292e-02, 9.80412771e-01],
       [3.95461738e-39, 1.00000000e+00],
       [9.75222457e-01, 2.47775429e-02],
       [9.72582820e-01, 2.74171796e-02]])